@font-face {
    font-family: Smokum;
    src: url(../../fonts/Smokum/Smokum-Regular.ttf);
}

@font-face {
    font-family: MerriweatherBlack;
    src: url(../../fonts/Merriweather/Merriweather-Black.ttf);
}
